* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    color: rgb(5, 5, 5);
}

h2 {
    color: black;
}

header {
    background-image: url(/assets/img/spider-man-culo-1645610929.png);
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    border: 8px solid rgb(15, 11, 20);
}

.tabla {
    text-align: left;
}

.tabla img {
    width: 300px;
}

footer {
    line-height: 60px;
    font-size: 3rem;
    background-color: rgb(255, 33, 33);
    margin: 8px;
    text-align: center;

}

/* para colorear link */
.link {
    color: rgb(13, 6, 221);
}